rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdministrator() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdministrator;
    }

    function isNotAffectingIsAdministrator() {
      return !request.resource.data.diff(resource.data).affectedKeys().hasAny(['isAdministrator']);
    }

    match /users/{userId} {
      allow read: if request.auth != null  && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId && !request.resource.data.isAdministrator;
      allow update: if isAdministrator() || request.auth != null && request.auth.uid == userId
        && isNotAffectingIsAdministrator();
      allow delete: if isAdministrator() || request.auth != null && request.auth.uid == userId;
    }

  }
}
