rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /heroImages/{fileId} {
      allow read, create: if request.auth != null;
      allow update, delete: if false;
    }
    match /skills/{fileId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.isAdministrator;
    }
  }
}
